$color-one: #e5e5e5 !default;
$color-two: #dd005d !default;
$color-three: #c4c4c4 !default;
$color-four: #707070 !default;
$color-five: #ff0000 !default;

$font-family: "Open Sans", sans-serif !default;
